{% extends 'base_layout.html' %}

{% block content %}

{% if user.id == article.author.id %}
    <div class="create-article">
        <h2>Update Article</h2>
        <form class="site-form" action="{% url 'articles:update' slug=article.slug %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div class="container-center">
                <button type="submit" value="Update">Update</button>
            </div>
            
        </form>
    </div>
{% endif %}
<script src="/static/slugify.js"></script>
{% endblock %}