{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Articles</title>
</head>
<body>
    <header class="wrapper">
        <h1><a href="{% url 'articles:list' %}" ><img style="height: 5rem;" src="{% static 'logo.svg'%}" /></a></h1>
    </header>
    <div class='wrapper'>
        {% block content %}
        {% endblock %}
    </div>    
</body>
</html>